body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.brand-logo {
    color: black;
}

H2 {
    font-weight: bolder;
    font-size: larger;
    
}

main {
    flex: 1 0 auto;
  }

.gif {
    justify-content: center;
    background-image: "";
}

.buttons {
    display: grid;
    gap: 10px;
}

footer {
    display: flex;
    flex-direction: column;
   
}

/* MODAL CSS STYLING */
#modal1 {
    text-align: center;
}

#resultGif {
    border: 5px solid #616161;
}

#giveUpBtn {
    background-color: #bdbdbd;
    margin-right: 5px;
    margin-bottom: 10px;

}

#nextQuestionButton {
    background-color: #26a69a;
    margin-right: 10px;
    margin-bottom: 10px;

}

#resultText {
    font-size: 25px;
    margin-bottom: 25px;
}