body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.brand-logo {
    color: black;
}

H2 {
    font-weight: bolder;
    font-size: larger;
    
}

main {
    flex: 1 0 auto;
  }

.gif {
    justify-content: center;
    background-image: "";
}

.buttons {
    display: grid;
    gap: 10px;
}

footer {
    display: flex;
    flex-direction: column;
   
}