body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../images/background_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Rajdhani', sans-serif;
}

.nav-extended {
    background-color: transparent;
    box-shadow: none;
}

.dropdown-content {
    background-color: #15389E;
    color: white;
}

h1 {
    font-weight: 700;
    text-shadow: 5px 2px 5px black;
}

p {
    font-size: larger;
    font-weight: 600;
    text-shadow: 2px 2px 5px black;
}

.brand-logo {
    margin-left: 10px;
    font-weight: 700;
    color: white;
}

#winStreak, #bestWinStreak {
    font-weight: bold;
}

/* Sets dropdown menu to always have set width */
#menuDropdown {
    width: 110px !important;
}

main {
    flex: 1 0 auto;
  }

.start {
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.btn {
    background-color: #15389E;
    color: white;
    transition: background-color 1s ease-out 100ms;
}

.btn:hover {
    background-color: #91A9F0;
}

#quote {
    font-weight: 700;
    text-shadow: 2px 2px 6px black;
    color: white;
}

.gif {
    justify-content: center;
    background-image: "";
}

/*.buttons {
    display: grid;
    gap: 10px;
} */

#answers {
    display: grid;
    gap: 10px;
}

/* footer {
    display: flex;
    flex-direction: column;
   
} */

/* MODAL CSS STYLING */
#modal1 {
    text-align: center;
}

#resultGif {
    border: 5px solid #616161;
    max-width: 90%;
}

#giveUpBtn {
    background-color: #bdbdbd;
    margin-right: 5px;
    margin-bottom: 10px;

}

#nextQuestionButton {
    background-color: #26a69a;
    margin-right: 10px;
    margin-bottom: 10px;

}

#resultText {
    font-size: 25px;
    margin-bottom: 25px;
}               

.hide {
    display: none;
}
.questionpanel{
    
    color: white;

}